<fieldset id='shipping_method'>
  <legend><%= t("shipping_method") %></legend>
  <div class="inner">
    <div id="methods">
      <p class="field radios">
        <ul>
          <% @order.rate_hash.each do |shipping_method| %>
            <li>
              <label>
                <%= radio_button(:order, :shipping_method_id, shipping_method[:id]) %>
                <span class="name"><%= shipping_method[:name] %></span>
                <span class="cost"><%= number_to_currency shipping_method[:cost] %></span>
              </label>
            </li>
          <% end %>
        </ul>
      </p>
    </div>
    <% if Spree::Config[:shipping_instructions] && @order.rate_hash.present? %>
      <p id="minstrs">
        <%= form.label :special_instructions, t("shipping_instructions") %><br />
        <%= form.text_area :special_instructions, :cols => 40, :rows => 7 %>
      </p>
    <% end %>
  </div>
</fieldset>

<div class="form-buttons">
  <input type="submit" class="continue button primary" value="<%=t("save_and_continue") %>"/>
</div>
