<div id="footer">
  <div class="inner">
    <ul class="split-in-<%= Page.footer_links.count %>">
      <% for page in Page.footer_links do %>
        <li><%= link_to page.title, page.link %></li>
      <% end %>
      <li class="facebook"><%= link_to "Facebook", "http://www.facebook.com/pages/AntifaSoul/339727419403750", :target => "_blank" %></li>
      <li class="mail"><%= link_to "Mail", contact_path %></li>
      <li class="logo"><%= link_to "Antifa Soul", root_url %></li>
    </ul>
    <div class="legal-stuff">
      <p>P.I. 05354390485</p>
    </div>
  </div>
</div>
<%= render 'shared/google_analytics' %>
